/* Custom styles go here */
html {
    overflow: scroll;
    height: 100%;  /* Ensure html takes full height */
}

body {
    padding-top: 60px;
    min-height: 100%;  
    display: flex;    
    flex-direction: column;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
    margin-bottom: 60px;
   }
}

.jumbotron {
    background-color: transparent !important;  
    padding: 2rem;  
    margin-bottom: 2rem;  
}

.container {
    background-color: rgb(186, 185, 185) !important;
    flex: 1;  
}


/* footer */

footer {
    margin-top: 45px;
    padding: 5px 0;  /* Equal top/bottom padding; adjust as needed */
    margin-bottom: 0; /* Remove any bottom margin */
    border-top: 1px solid #eaeaea;
    color: #777;
    a {
    color: #555;
  }

  &a:hover {
    color: #222
  }


 small {  
    float: left; 
 }

 ul {
    float: right;
    list-style: none;
 }

   ul li {
    float: left;
    margin-left: 15px;
  }
}



